:root {
    --P0: oklab(0% 0.0297 0.00846);
    --P4: oklab(12.006% 0.04618 0.01316);
    --P6: oklab(15.145% 0.05826 0.0166);
    --P10: oklab(20.103% 0.07734 0.02203);
    --P12: oklab(22.274% 0.08569 0.02441);
    --P17: oklab(27.296% 0.105 0.02992);
    --P20: oklab(30.152% 0.11599 0.03305);
    --P22: oklab(32.017% 0.12317 0.03509);
    --P24: oklab(33.859% 0.13025 0.03711);
    --P30: oklab(39.287% 0.15113 0.04306);
    --P40: oklab(48.145% 0.18521 0.05277);
    --P50: oklab(56.884% 0.21883 0.06235);
    --P60: oklab(65.56% 0.22486 0.06407);
    --P70: oklab(74.198% 0.15238 0.04341);
    --P80: oklab(82.813% 0.09264 0.02639);
    --P87: oklab(88.834% 0.05676 0.01617);
    --P90: oklab(91.412% 0.04262 0.01214);
    --P92: oklab(93.131% 0.03357 0.00956);
    --P94: oklab(94.849% 0.0248 0.00706);
    --P95: oklab(95.707% 0.02051 0.00584);
    --P96: oklab(96.566% 0.01629 0.00464);
    --P98: oklab(98.283% 0.00802 0.00229);
    --P100: oklab(100% 0.0297 0.00846);

    --A0: oklab(0% 0.01228 -0.04311);
    --A10: oklab(20.103% 0.05214 -0.09437);
    --A20: oklab(30.152% 0.11767 0.02593);
    --A30: oklab(39.287% 0.15113 0.04306);
    --A40: oklab(48.145% 0.18521 0.05277);
    --A50: oklab(56.884% 0.21883 0.06235);
    --A60: oklab(65.56% 0.22486 0.06407);
    --A70: oklab(74.198% -0.12161 -0.03465);
    --A80: oklab(82.813% -0.13854 -0.03099);
    --A90: oklab(91.412% -0.09049 0.18776);
    --A100: oklab(100% -0.01875 0.06581);

    --E0: oklab(0% 0.0297 0.00846);
    --E10: oklab(20.103% 0.07734 0.02203);
    --E20: oklab(30.152% 0.11599 0.03305);
    --E30: oklab(39.287% 0.15113 0.04306);
    --E40: oklab(48.145% 0.18521 0.05277);
    --E50: oklab(56.884% 0.21883 0.06235);
    --E60: oklab(65.56% 0.22486 0.06407);
    --E70: oklab(74.198% 0.15238 0.04341);
    --E80: oklab(82.813% 0.09264 0.02639);
    --E90: oklab(91.412% 0.04262 0.01214);
    --E100: oklab(100% 0.00802 0.00229);
}